{# templates/blog/first_page.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Post {% endblock %}

{% block content %}
{# Simple form renering #}
    {{ form(form) }}
{% endblock %}