{# templates/blog/first_page.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Blog Index / Articles to read{% endblock %}

{% block content %}
    <p> Posts: </p>

    <ul>
    {% for article in articles %}
        <li>
            <a href="{{ path('post_details', {id: article.id}) }}">
                {{ article.title }} - {{ article.summary }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}