{# templates/blog/first_page.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block content %}
	<h2>
		{{ article.title }}
	</h2>
	<h3>
		{{ article.summary }}
	</h3>
	<p>
		Author:
		{{ author.firstName }}
		{{ author.lastName }}
	</p>
	{% if user is not null and user.id == author.id %}
		<a href="{{ path('post_edit', {id: article.id}) }}">Edit</a>
	{% endif %}
	<p>
		Creation date:
		{{ article.creationDate|date('Y-m-d H:i:s') }}
	</p>
	<p>
		{{ article.content }}</p>

	<hr/>
	<ul>
		{% for comment in comments %}
			<li>{{ comment.firstName }}
				{{ comment.lastName }},
				{{ comment.creationDate|date('Y-m-d H:i:s') }}
				-->
				{{ comment.content }}</li>
		{% endfor %}
	</ul>

	{% if isCommentFormString %}
		<h2>{{ commentForm }}</h2>
	{% else %}
		{{ form(commentForm) }}{% endif %}
	{% endblock %}
