{# templates/blog/first_page.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Blog Index / Login {% endblock %}

{% block content %}
<h2>{{ error | default("") }}</h2>
    
{# Simple form renering #}
    {{ form(register_form) }}
{% endblock %}