{# templates/blog/first_page.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Profile {% endblock %}

{% block content %}
<ul>
    <li>Email: {{ user.email }}</li>
    <li>First name: {{ user.firstName }}</li>
    <li>Last name: {{ user.lastName }}</li>
</ul>
<h2>{{ error | default("") }}</h2>
{# Simple form renering #}
    {{ form(form) }}
{% endblock %}